---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { m } from "@paraglide/messages";

interface Props {
  post: CollectionEntry<"blog">["data"];
}

const { post } = Astro.props;

const postLink = getRelativeLocaleUrl(
  Astro.currentLocale as string,
  `/blog/${post.slug}`,
);
---

<a class="blogpost-item" href={postLink}>
  {
    post.cover && (
      <Image
        alt=""
        src={post.cover}
        layout="constrained"
        fit="cover"
        height={220}
        width={350}
      />
    )
  }
  <div class="blogpost-item__content">
    <h3 class="blogpost-item__title">
      {post.title}
    </h3>
    {post.summary && <p>{post.summary}...</p>}
  </div>
</a>

<style>
  .blogpost-item {
    --transition: ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: initial;
    transition: transform var(--transition);
  }

  .blogpost-item__title {
    margin: 0;
    transition: text-shadow var(--transition);
  }

  .blogpost-item:hover {
    transform: scale(1.015);

    & .blogpost-item__title {
      text-shadow: var(--color-primary) -3px 3px;
    }
  }

  .blogpost-item__title a {
    color: black;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    .blogpost-item {
      flex-direction: row;
    }
  }
</style>
