---
import { getCollection } from "astro:content";
import RootLayout from "src/layout/RootLayout.astro";
import { Image } from "astro:assets";
import "highlight.js/styles/default.min.css";

export const getStaticPaths = async () => {
  const collection = await getCollection("blog");
  return collection.map((post) => ({
    params: { slug: post.data.slug, locale: post.data.language },
    props: { blogpost: post.data },
  }));
};

const { locale } = Astro.params;
const { blogpost } = Astro.props;
---

<RootLayout locale={locale} title={blogpost.title}>
  <main class="blogpost">
    <small
      >{new Date(blogpost.date).toLocaleDateString()}
      <a href={blogpost.source_url}>Post original</a></small
    >
    <h1>{blogpost.title}</h1>
    {
      blogpost.cover && (
        <Image
          alt=""
          class="blogpost__cover"
          src={blogpost.cover}
          transition:name={`cover-hero-${blogpost.slug}`}
          layout="constrained"
          fit="cover"
          height={880}
          width={1400}
        />
      )
    }
    <section set:html={blogpost.content} />
  </main>
</RootLayout>

<style is:global>
  .inline-image img {
    max-width: 100%;
    height: auto;
  }

  .inline-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inline-image video {
    max-width: 100%;
    margin: auto;
  }

  .blogpost {
    display: flex;
    flex-direction: column;
  }

  .blogpost__cover {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
  }

  .blogpost li {
    margin: 1rem;
  }

  pre {
    padding: 2rem;
    overflow: auto;
  }

  pre code span {
    font-family: "Fira Code";
    display: block;
  }

  h1 {
    margin: 0;
  }
</style>
