---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { m } from "@paraglide/messages";

import "@fontsource-variable/fira-code";
import "@fontsource-variable/inter";

import "@styles";

const { title } = Astro.props;
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="description" content={m.description()} />
    <meta name="author" content="Veloren South America" />

    <!-- Social Media -->
    <meta property="og:title" content="Veloren South America" />
    <meta property="og:description" content={m.description()} />
    <meta property="og:image" content="/assets/logo.png" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Veloren South America" />
    <meta name="twitter:description" content={m.description()} />
    <meta name="twitter:image" content="/assets/logo.png" />
    <meta name="twitter:url" content={Astro.url} />

    <slot name="head" />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
